* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: white;
}

.swiper {
    height: 100%;
    width: 100%;
    background-color: #333;
    padding: 30px
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

.next {
    position: absolute;
    top: 50%;
    right: 5%;
    background-color: crimson;
    padding: 5px 10px;
    transform: translate(0, -50%);
    border-radius: 5px;
    z-index: 10;
    
}

.previous {
    position: absolute;
    top: 50%;
    left: 5%;
    background-color: crimson;
    padding: 5px 10px;
    transform: translate(0, -50%);
    border-radius: 5px;
    z-index: 10;
    
}